@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="Vertex, singple page mobile app theme.">
    <meta name="keywords" content="vertex, theme, app, single page">
    <meta name="author" content="rype pixel">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="Content/js/html5shiv.js"></script>  <!-- support for HTML5 in IE8 -->
    <!-- CSS file links -->
    <link href="Content/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="Content/css/style.css" rel="stylesheet" type="text/css" media="all" id="styleChange" />
    <link href="Content/css/jquery.bxslider.css" rel="stylesheet" />
    <link href="Content/css/lightbox.css" type="text/css" rel="stylesheet" />
    <link href="Content/css/responsive.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <title>Login</title>
</head>
<body>
<br    /><br /><br    /><br />

    
    

<div class="container">
    <div class="row">
        
                @using (Html.BeginForm("DoLoginAdmin", "Admin",FormMethod.Post)){
            <div class="col-lg-6" style="background-color:ButtonFace;border:solid;border-color:ActiveBorder;border-collapse:collapse">
                @if (Session["Error"] != null) { 
    <div style="color:red">User Not Exist. Wrong User Name or Password.</div>
}
                <br /><br />
                <div class="well well-sm" style="font-size:10px"><strong><span class="glyphicon glyphicon-asterisk"></span>Required Field</strong></div>
                
                <div class="form-group">
                    @Html.Label("Enter User Name", "Enter Admin Name", new { style="color:black"})
                    <div class="input-group">
                        @Html.TextBox("Email","",new {  placeholder = "xyz123", @class="form-control", required = "required"}) 
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Enter Password", "Enter Password", new { style="color:black"})
                    <div class="input-group">
                      @Html.TextBox("Password","",new {Type="Password", placeholder = "****", @class="form-control", required = "required"}) 
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                  
                
                <input type="submit" name="submit" id="submit" value="Login" class=" pull-right btn btn-primary btn-lg">
                <br /><br /><br />
            </div>
                }
        <div class="col-lg-5 col-md-push-1">
            <div class="col-md-12">
                <!--<img src="~/Content/Images/login.jpg" class="img-responsive"/>-->
               
            </div>
        </div>
    </div>
</div><br /><br /><br /><br />




</body>
</html>
